@import "./font-theme/0xProtoNerdFont-Bold.css";
@import "./font-theme/0xProtoNerdFontMono-Bold.css";
@import "./font-theme/0xProtoNerdFontMono-Regular.css";
@import "./font-theme/0xProtoNerdFontPropo-Bold.css";
@import "./font-theme/0xProtoNerdFontPropo-Regular.css";
@import "./font-theme/0xProtoNerdFont-Regular.css";
@import "./font-theme/AdwaitaMonoNerdFont-Bold.css";
@import "./font-theme/AdwaitaMonoNerdFontMono-Bold.css";
@import "./font-theme/AdwaitaMonoNerdFontMono-Regular.css";
@import "./font-theme/AdwaitaMonoNerdFontPropo-Bold.css";
@import "./font-theme/AdwaitaMonoNerdFontPropo-Regular.css";
@import "./font-theme/AdwaitaMonoNerdFont-Regular.css";
@import "./font-theme/AgaveNerdFont-Bold.css";
@import "./font-theme/AgaveNerdFontMono-Bold.css";
@import "./font-theme/AgaveNerdFontMono-Regular.css";
@import "./font-theme/AgaveNerdFontPropo-Bold.css";
@import "./font-theme/AgaveNerdFontPropo-Regular.css";
@import "./font-theme/AgaveNerdFont-Regular.css";
@import "./font-theme/AnonymiceProNerdFont-Bold.css";
@import "./font-theme/AnonymiceProNerdFontMono-Bold.css";
@import "./font-theme/AnonymiceProNerdFontMono-Regular.css";
@import "./font-theme/AnonymiceProNerdFontPropo-Bold.css";
@import "./font-theme/AnonymiceProNerdFontPropo-Regular.css";
@import "./font-theme/AnonymiceProNerdFont-Regular.css";
@import "./font-theme/ArimoNerdFont-Bold.css";
@import "./font-theme/ArimoNerdFont-Regular.css";
@import "./font-theme/BitstromWeraNerdFont-Bold.css";
@import "./font-theme/BitstromWeraNerdFontMono-Regular.css";
@import "./font-theme/BitstromWeraNerdFont-Regular.css";
@import "./font-theme/BlexMonoNerdFont-Bold.css";
@import "./font-theme/BlexMonoNerdFont-Medium.css";
@import "./font-theme/BlexMonoNerdFontMono-Medium.css";
@import "./font-theme/BlexMonoNerdFontMono-Regular.css";
@import "./font-theme/CaskaydiaCoveNerdFontMono-Regular.css";
@import "./font-theme/CaskaydiaCoveNerdFontPropo-Regular.css";
@import "./font-theme/CaskaydiaMonoNerdFontMono-Regular.css";
@import "./font-theme/CaskaydiaMonoNerdFontPropo-Regular.css";
@import "./font-theme/CousineNerdFontMono-Bold.css";
@import "./font-theme/CousineNerdFontMono-Regular.css";
@import "./font-theme/CousineNerdFontPropo-Regular.css";
@import "./font-theme/CousineNerdFont-Regular.css";
@import "./font-theme/D2CodingLigatureNerdFontMono-Bold.css";
@import "./font-theme/D2CodingLigatureNerdFontMono-Regular.css";
@import "./font-theme/D2CodingLigatureNerdFontPropo-Regular.css";
@import "./font-theme/D2CodingLigatureNerdFont-Regular.css";
@import "./font-theme/DaddyTimeMonoNerdFontPropo-Regular.css";
@import "./font-theme/DaddyTimeMonoNerdFont-Regular.css";
@import "./font-theme/FantasqueSansMNerdFont-Bold.css";
@import "./font-theme/FantasqueSansMNerdFontMono-Regular.css";
@import "./font-theme/FantasqueSansMNerdFont-Regular.css";
@import "./font-theme/InconsolataLGCNerdFontMono-Regular.css";
@import "./font-theme/InconsolataLGCNerdFontPropo-Regular.css";
@import "./font-theme/InconsolataLGCNerdFont-Regular.css";
@import "./font-theme/IntoneMonoNerdFont-Medium.css";
@import "./font-theme/IntoneMonoNerdFontMono-Bold.css";
@import "./font-theme/IntoneMonoNerdFontMono-Medium.css";
@import "./font-theme/IntoneMonoNerdFontMono-Regular.css";
@import "./font-theme/IntoneMonoNerdFontPropo-Bold.css";
@import "./font-theme/JetBrainsMonoNerdFont-Medium.css";
@import "./font-theme/JetBrainsMonoNerdFontMono-Bold.css";
@import "./font-theme/JetBrainsMonoNerdFontMono-Medium.css";
@import "./font-theme/JetBrainsMonoNerdFontMono-Regular.css";
@import "./font-theme/JetBrainsMonoNerdFontPropo-Medium.css";
@import "./font-theme/JetBrainsMonoNerdFontPropo-Regular.css";
@import "./font-theme/LilexNerdFont-Medium.css";
@import "./font-theme/LilexNerdFontMono-Medium.css";
@import "./font-theme/LilexNerdFontMono-Regular.css";
@import "./font-theme/LilexNerdFontPropo-Medium.css";
@import "./font-theme/LilexNerdFontPropo-Regular.css";
@import "./font-theme/LilexNerdFont-Regular.css";
@import "./font-theme/PlusJakartaSans-VariableFont_wght.css";
@import "./font-theme/RobotoMonoNerdFont-Bold.css";
@import "./font-theme/RobotoMonoNerdFont-Medium.css";
@import "./font-theme/RobotoMonoNerdFontMono-Bold.css";
@import "./font-theme/RobotoMonoNerdFontMono-Medium.css";
@import "./font-theme/RobotoMonoNerdFontMono-Regular.css";
@import "./font-theme/RobotoMonoNerdFontPropo-Bold.css";
@import "./font-theme/RobotoMonoNerdFontPropo-Regular.css";
@import "./font-theme/RobotoMonoNerdFont-Regular.css";
@import "./font-theme/UbuntuMonoNerdFont-Bold.css";
@import "./font-theme/UbuntuMonoNerdFontMono-Bold.css";
@import "./font-theme/UbuntuMonoNerdFontMono-Regular.css";
@import "./font-theme/UbuntuMonoNerdFontPropo-Regular.css";

.MuiChartsTooltip-root {
  background-color: #000;
  border-radius: 4px;
}
