@font-face {
  font-family: "D2CodingLigatureNerdFontMono-Bold";
  src: url("/fonts/D2CodingLigatureNerdFontMono-Bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
