@font-face {
  font-family: "D2CodingLigatureNerdFontMono-Regular";
  src: url("/fonts/D2CodingLigatureNerdFontMono-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
