@font-face {
  font-family: "JetBrainsMonoNerdFontPropo-Regular";
  src: url("/fonts/JetBrainsMonoNerdFontPropo-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
