@font-face {
  font-family: "PlusJakartaSans-VariableFont_wght";
  src: url("/fonts/PlusJakartaSans-VariableFont_wght.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
